*,
*::before,
*::after {
      padding: 0;
      margin: 0;
      border: 0;
      box-sizing: border-box;
}
a {
      text-decoration: none;
}
button {
      cursor: pointer;
}
ol, ul, li {
      list-style: none;
}
img {
      vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
      font-size: inherit;
      font-weight: inherit;
}
html,
body {
      height: 100%;
      line-height: 1;
      font-size: 16px;
      font-family: 'Manrope', sans-serif;
      color: #31353B;
}
input:active, :hover, :focus {
      outline: 0;
      outline-offset: 0;
  } 
/* MAIN... */
.wrapper {
      min-height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
}
.page {
      flex: 1 1 auto;
}
.title {
      font-weight: 600;
      font-size: 40px;
      line-height: 55px;
}
.title_center {
      text-align: center;
}
@media (max-width: 767.98px) {
      .title {
            font-size: 30px;
      }
}
[class*="__container"] {
      max-width: 1170px;
      margin: 0 auto;
      padding: 0 15px;
}
@media (max-width: 1199.98px) {
      [class*="__container"] {
            max-width: 970px;
      }
}
@media (max-width: 991.98px) {
      [class*="__container"] {
            max-width: 750px;
      }
}
@media (max-width: 767.98px) {
      [class*="__container"] {
            max-width: none;
      }
}
.header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 50;
}
.header__container {
      display: flex; 
      justify-content: space-between;
      align-items: center; 
      min-height: 103px;
      padding-top: 10px;
      padding-bottom: 10px;
      gap: 15px;
}
@media (max-width: 768px) {
      .header__container {
            min-height: 0;
            flex-direction: column;
            padding-top: 25px;
      }
}
.header__logo {
      font-weight: 800;
      font-size: 23px;
      color: inherit;
      position: relative;
}
.menu__list {
      display: flex;
      flex-wrap: wrap;
      column-gap: 15px;
      row-gap: 15px;
}
.menu__link {
      font-weight: 700;
      font-size: 13px;
      color: inherit;
      text-transform: capitalize;
      position: relative;
}
.header__link-hover::after {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      background: #f85947;
      height: 4px;
      width: 0px;
      transition: all 0.2s;
}
.header__link-hover:hover::after {
      width: 100%;
      opacity: 0.5;
}
@media (max-width: 767.98px) {
      .menu__list {
            justify-content: center;
      }
      .menu__link {
            font-size: 18px;
      }
}
.main-block {
      padding-bottom: 110px;
}
.main-block__container {
      position: relative;
      padding-top: 183px;
}
.main-block__container::after {
      background: rgba(189, 204, 255, 0.766);
      content: "";
      position: absolute;
      top: 0;
      left: 68%;
      height: 100%;
      width: 200%;
}
.main-block__body {
      margin-bottom: 14px;
}
.partners-main-block {
      max-width: 65%;
}
.partners-main-block__label {
      font-size: 17px;
      margin-bottom: 25px;
}
.partners-main-block__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      position: relative;
      z-index: 222;
}
.partners-main-block__item img {
      max-width: 100%;
}
.body-main-block {
      display: flex;
      position: relative;
}
.body-main-block__content {
      flex: 0 1 50%;
}
.body-main-block__slider {
      flex: 0 1 50%;
      height: 100%;
}
.content-main-block {
      padding-top: 40px;
      position: relative;
      z-index: 2;
}
.content-main-block__body {
      padding: 0px 80px 0px 0px;
}
.content-main-block__sub-title {
      font-weight: 700;
      font-size: 22px;
      line-height: 29px;
      text-transform: uppercase;
      color: #FF9900;
      margin-bottom: 20px;
}
.content-main-block__title {
      font-weight: 800;
      font-size: 52px;
      line-height: 73px;
      margin-bottom: 20px;
}
.content-main-block__text {
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0.01em;
      margin-bottom: 120px;
}
.form-main-block {
      position: relative;
      z-index: 2;
      display: flex;
      min-height: 86px;
      box-shadow: 3px 6px 57px -4px rgba(0,0,0,0.75);
      margin-right: -188px;
      margin-bottom: 10px;
}
.form-main-block__input {
      min-height: 60px;
      padding: 0px 0px 0px 74px;
      border: 0.970386px solid #DADADA;
      background:#fff url(../img/icons/placeholder-icon.svg) 33px 50% no-repeat;
      width: 100%;
      font-size: 20px;
      flex: 1 1 auto;
      color: rgb(49, 53, 59, 0.5);
}
.form-main-block__input::placeholder {
      font-weight: 400;
      font-size: 19px;
      line-height: 27px;
      letter-spacing: 0.01em;
}
.form-main-block__button {
      cursor: pointer;
      font-weight: 600;
      font-size: 17px;
      line-height: 23px;
      letter-spacing: 0.01em;
      color: #fff;
      padding: 5px 15px;
      flex: 0 0 188px;
      background: #f85947;
      transition: all 0.5s;
}
.button-hover:hover {
      opacity: 0.8;
}
.slider-main-block__slide {
      position: relative;
      padding-bottom: 95%;
}
.slider-main-block__slide img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
}
.body-main-block__arrows {
      position: absolute;
      bottom: -52px;
      right: 0;
      display: flex;
      align-items: center;
      gap: 40px;
}
.body-main-block__arrow.swiper-button-next,
.body-main-block__arrow.swiper-button-prev {
      position: static;
      background: url(../img/icons/slider-arrow.svg) 0 0 / 100% no-repeat;
      height: 20px;
      width: 11px;
}
.body-main-block__arrow::after {
      display: none;
}
.body-main-block__arrow.swiper-button-prev {
      transform: rotate(-180deg);
}
@media (max-width: 1199.98px) {
      .main-block__container {
            padding-top: 80px;
            padding-bottom: 30px;
      }
      .body-main-block {
            display: block;
      }
      .form-main-block {
            margin-right: 0;
      }
      .body-main-block__content {
            margin-bottom: 20px;
      }
      .content-main-block__body {
            margin-bottom: -80px;
            padding-right: 0px;
      }
      .main-block__body {
            margin-bottom: 40px;
      }
      .partners-main-block {
            max-width: none;
            position: relative;
            z-index: 2;
      }
      .partners-main-block__items {
            gap: 15px;
      }
}
@media (max-width: 767.98px) {
      .partners-main-block__items {
            gap: 25px;
            justify-content: center;
      }
      .content-main-block__title {
            font-size: 30px;
            line-height: 120%;
      }
      .form-main-block {
            display: block; 
      }
      .form-main-block__button {
            width: 100%;
            height: 60px;
      }
}
@media (max-width: 479.98px) {
      .form-main-block__input {
            background: #fff;
            padding: 0px 15px;
            display: block;
      }
}
.how {
      padding-top: 110px;
      padding-bottom: 110px;
}

.how__title {
      margin-bottom: 70px;
}
@media (max-width: 767.98px){
      .how {
            padding-top: 5px;
      }
      .how__title {
            margin-bottom: 30px;
      }
}
.how__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: start;
      column-gap: 30px;
      row-gap: 45px;
      justify-items: center;
      padding: 0px 35px;
}
.how__item {
      max-width: 260px;
}
.item-how {
      display: grid;
      justify-items: center;
      text-align: center;
      position: relative;
}
.item-how_1::after {
      content: "";
      position: absolute;
      right: 0px;
      top: 41px;
      height: 11px;
      width: 100%;
      max-width: 205px;
      background: url(../img/icons/line-left.svg) 0 0 / 100% no-repeat;
      transform: translate(74%, 0px);
}
.item-how_2::after {
      content: "";
      position: absolute;
      right: 0px;
      top: 41px;
      height: 11px;
      width: 100%;
      max-width: 205px;
      background: url(../img/icons/line-left.svg) 0 0 / 100% no-repeat;
      transform: translate(74%, 0px) rotate(180deg);
}
.item-how_1 .item-how__icon {
      background: #9672FF;
      box-shadow: 0px 97.0386px 77.6309px rgba(150, 114, 255, 0.07), 0px 62.8954px 45.4644px rgba(150, 114, 255, 0.0531481), 0px 37.3778px 24.7269px rgba(150, 114, 255, 0.0425185), 0px 19.4077px 12.615px rgba(150, 114, 255, 0.035), 0px 7.90685px 6.32548px rgba(150, 114, 255, 0.0274815), 0px 1.79701px 3.05492px rgba(150, 114, 255, 0.0168519);
}
.item-how_2 .item-how__icon {
      background: #4DDFFD;
      box-shadow: 0px 97.0386px 77.6309px rgba(77, 223, 253, 0.07), 0px 62.8954px 45.4644px rgba(77, 223, 253, 0.0531481), 0px 37.3778px 24.7269px rgba(77, 223, 253, 0.0425185), 0px 19.4077px 12.615px rgba(77, 223, 253, 0.035), 0px 7.90685px 6.32548px rgba(77, 223, 253, 0.0274815), 0px 1.79701px 3.05492px rgba(77, 223, 253, 0.0168519);
}
.item-how_3 .item-how__icon {
      background: #F2B8EC;
      box-shadow: 0px 97.0386px 77.6309px rgba(242, 184, 236, 0.07), 0px 62.8954px 45.4644px rgba(242, 184, 236, 0.0531481), 0px 37.3778px 24.7269px rgba(242, 184, 236, 0.0425185), 0px 19.4077px 12.615px rgba(242, 184, 236, 0.035), 0px 7.90685px 6.32548px rgba(242, 184, 236, 0.0274815), 0px 1.79701px 3.05492px rgba(242, 184, 236, 0.0168519);
}

.item-how__icon {
      margin-bottom: 70px;
      width: 90px;
      height: 90px;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
}
.item-how__title {
      margin-bottom: 15px;
      font-weight: 600;
      font-size: 22x;
      line-height: 29px;
}
.item-how__text {
      font-weight: 400;
      line-height: 25px;
}
@media (max-width: 1199.98px) {
      .item-how:not(:last-child)::after {
            width: 170px;
            transform: translate(60%, 0px);
      }
      .item-how_2:not(:last-child)::after {
            transform: translate(60%, 0px) rotate(180deg);
      }
}
@media (max-width: 991.98px) {
      .item-how:not(:last-child)::after {
            width: 100px;
            transform: translate(65%, 0px);
      }
      .item-how_2:not(:last-child)::after {
            transform: translate(65%, 0px) rotate(180deg);
      }
}
@media (max-width: 767.98px) {
      .item-how:not(:last-child)::after {
            display: none;
      }
      .how__items {
            grid-template-columns: 1fr;
            padding: 0px 15px;
            justify-items: center;
      }
      .item-how__icon {
            margin-bottom: 15px;
      }
      .how__item {
            max-width: 100%;
      }
}
.deals {
      padding-top: 110px;
      padding-bottom: 110px;
}
@media (max-width: 991.98px) {
      .deals {
            padding-top: 70px;
            padding-bottom: 70px;
      }
}
@media (max-width: 767.98px) {
      .deals {
            padding-top: 30px;
            padding-bottom: 30px;
      }
}
.deals__header {
      margin-bottom: 50px;
}
.header-deals {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 20px;
}
.header-deals__content {
      flex: 1 1 auto;
}
.header-deals__title:not(:last-child) {
      margin-bottom: 15px;
}
.header-deals__text {
      max-width: 480px;
      font-weight: 400;
      line-height: 23px;
}
.header-deals__link {
      display: inline-block;
      padding: 22px 32px;
      color: #fff;
      background: #F85A47;
      box-shadow: 0px 97.0386px 77.6309px rgba(248, 90, 71, 0.07), 0px 62.8954px 45.4644px rgba(248, 90, 71, 0.0531481), 0px 37.3778px 24.7269px rgba(248, 90, 71, 0.0425185), 0px 19.4077px 12.615px rgba(248, 90, 71, 0.035), 0px 7.90685px 6.32548px rgba(248, 90, 71, 0.0274815), 0px 1.79701px 3.05492px rgba(248, 90, 71, 0.0168519);
      border-radius: 5px;
      font-weight: 500;
      line-height: 23px;
      text-align: center;
      transition: all 0.3s;
}
@media (max-width: 767.98px) {
      .header-deals__link {
            width: 100%;
      }
}
.tabs-deals__nav {
      display: flex;
      flex-wrap: wrap;
      column-gap: 48px;
      row-gap: 10px;
      margin-bottom: 35px;
}
.tabs-deals__button {
      background: transparent;
      font-size: 18px;
      line-height: 25px;
      transition: all 0.3s;
      position: relative;
}
@media (max-width: 767.98px) {
      .tabs-deals__button {
            font-size: 16px;
      }
}
.tabs-deals__button::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      height: 2px;
      width: 0px;
      background: #F85A47;
      transition: all 0.3s;
}
.tabs-deals__button:hover {
      color:#F85A47;
}
.tabs-deals__button:hover:after {
      width: 100%;
}
.tabs-deals__button.active {
      color:#F85A47;
}
.tabs-deals__button.active::after {
      width: 100%;
}
.item-tabs__items {
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(3, minmax(280px, 360px));
}
@media (max-width: 991.98px) {
      .item-tabs__items {
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(auto-fit, minmax(180px, 220px));
      }
}
@media (max-width: 767.98px) {
      .item-tabs__items {
            display: block;
      }
      .item-tabs__item {
            width: 100%;
            margin: 20px 0px;
      }
}
.item-tabs__item {
      position: relative;
}
.item-tabs__options {
      position: absolute;
      top: 14px;
      left: 14px;
      z-index: 222;
}
.item-tabs__option {
      border: 2px solid red;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      color: #FFF;
      padding: 6px 12px;
      background: rgba(0, 0, 0, 0.4);
      border: 0.970386px solid #FFFFFF;
      border-radius: 5px;
      transition: all 0.3s;
}
.item-tabs__option:hover {
      background: rgba(0, 0, 0, 0.8);
}
.item-tabs__image {
      display: block;
      position: relative;
      padding-bottom: 81%;
      border-radius: 5px;
      overflow: hidden;
}
.item-tabs__image img {
      transition: all 0.3s;
}
.item-tabs__image:hover img {
      transform: scale(1.1);
}
.item-tabs__image img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
}
.tabs-deals__item {
      display: none;
}
.tabs-deals__item.active {
      display: block;
}
.featured {
      padding-top: 110px;
      padding-bottom: 110px;
}
@media (max-width: 991.98px) {
      .featured {
            padding-top: 70px;
            padding-bottom: 70px;
      }
}
@media (max-width: 767.98px) {
      .featured {
            padding-top: 30px;
            padding-bottom: 30px;
      }
}
.featured__title {
      margin-bottom: 95px;
}
.featured__body {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 77px;
      background: #F1FFFF;
      padding: 40px 40px 80px 40px;
}
@media (max-width: 991.98px) {
      .featured__body{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            margin: 0px -15px;
      }
      .featured__title {
            margin-bottom: 20px;
      }
}
.featured__images {
      display: grid;
      justify-items: center;
}
.image-featured__item img{
      max-width: 100%;
}
.images-featured__item-mini {
      margin-top: -114px;
      max-width: 83%;
      position: relative;
}
.images-featured__item-mini img {
      box-shadow: 5px 20px 43px 14px rgba(0,0,0,0.42);

}
.featured__content {
      display: flex;
      flex-direction: column;
}
.content-featured__body {
      max-width: 412px;
      flex: 1 1 auto;
}

@media (max-width: 991.98px) {
      .content-featured__body {
            max-width: 100%;
            padding: 15px;

      }
}
.content-featured__title {
      font-weight: 600;
      font-size: 31px;
      line-height: 41px;
      margin-bottom: 28px;
      margin-top: 40px;
}
@media (max-width: 991.98px) {
      .content-featured__title {
            font-size: 26px;
            margin-bottom: 15px;
            margin-top: 15px;
      }     

}
.content-featured__text {
      font-weight: 400;
      line-height: 23px;
      margin-bottom: 40px;
      color: #545A58;
}
@media (max-width: 991.98px) {
      .content-featured__text {
            margin-top: 10px;
            margin-bottom: 10px;
      }
}
.content-featured__options {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 35px;
      column-gap: 60px;
      margin-bottom: 52px;
}
@media (max-width: 767.98px) {
      .content-featured__options {
            gap: 15px;
      }
}
@media (max-width: 991.98px) {
      .options-content-featured__item {
            padding: 5px;
            text-align: left;
            font-size: 14px;
      }
}
.options-content-featured__label {
      font-weight: 700;
      line-height: 23px;
      margin-bottom: 10px;
}
.options-content-featured__value {
      font-weight: 400;
      line-height: 23px;
}
.content-featured__link {
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      text-transform: uppercase;
      display: block;
      line-height: 150%;
      width: 100%;
      color: #FFFFFF;
      background: #F85A47;
      box-shadow: 0px 0px 42px -6px rgba(245,164,187,1);
      border-radius: 5px;
      padding: 15px 35px;
      transition: all 0.3s;
      max-width: 412px;
}
.content-featured__link:hover {
      opacity: 0.6;
}
@media (max-width: 991.98px) {
      .content-featured__link {
            max-width: 100%;
      }
}
.simple-rating {
      position: relative;
      font-size: 1.2rem;
      display: block;
      width: 96px;
      margin-bottom: 32px;
}
.simple-rating::before {
      content: '★★★★★';
      display: block;
}
.simple-rating__items {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row-reverse;
      overflow: hidden;
}
.simple-rating__item {
      position: absolute; 
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden; 
      top: 0;
      left: 0; 
}
.simple-rating__label {
      flex: 0 0 20%;
      height: 100%;
      cursor: pointer;
      color: #c4c5c5;

}
.simple-rating__label::before { 
      content: '★';
      display: block;
      transition: all .3s;
}
.simple-rating__item:checked,
.simple-rating__item:checked ~ .simple-rating__label {
      color: #df8f18;  
}

.simple-rating__label:hover,
.simple-rating__label:hover ~ .simple-rating__label,
.simple-rating__item:checked ~ .simple-rating__label:hover {
      color: #FBB040; 
}
.reviews {
      padding-top: 110px;
      padding-bottom: 110px;
}
@media (max-width: 991.98px) {
      .reviews {
            padding-top: 70px;
            padding-bottom: 70px;
      }
}
@media (max-width: 767.98px) {
      .reviews {
            padding-top: 30px;
            padding-bottom: 30px;
      }
}
.reviews__title {
      margin-bottom: 50px;
      max-width: 570px;
}

.reviews__items {
      width: 100%;
      display: grid;
      gap: 15px;
      grid-template-columns: repeat(3, minmax(180px, 370px));
}

.reviews__item {
      padding: 50px 40px;

}
.item-reviews {
      background: #FFFFFF;
      border: 1px solid #EBEBEB;
      border-radius: 10px;
      transition: all .2s;

      
      display: flex;
      flex-direction: column;
      min-height: 368px;
}
@media (max-width: 991.98px) {
      .reviews__items {
            grid-template-columns: repeat(1, 1fr);
      }
      .item-reviews {
            min-height: 100px;
      }
}
.item-reviews:hover {
      box-shadow: 0px 97.0386px 77.6309px rgba(0, 0, 0, 0.03), 0px 62.8954px 45.4644px rgba(0, 0, 0, 0.0227778), 0px 37.3778px 24.7269px rgba(0, 0, 0, 0.0182222), 0px 19.4077px 12.615px rgba(0, 0, 0, 0.015), 0px 7.90685px 6.32548px rgba(0, 0, 0, 0.0117778), 0px 1.79701px 3.05492px rgba(0, 0, 0, 0.00722222), 2.91116px 42.697px 52.4008px rgba(0, 0, 0, 0.08);
      border: 1px solid transparent;
}
.item-reviews__text {
      flex: 1 1 auto;
      font-weight: 400;
      line-height: 27px;
      color: #333333;
      margin-bottom: 20px;
}
.item-reviews__author {
      display: flex;
      align-items: center;
}
.author-item-reviews__avatar {
      width: 47px;
      height: 47px;
      margin-right: 20px;
}
.author-item-reviews__name {
      font-weight: 700;
      line-height: 21px;
}
.author-item-reviews__location {
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: #666666;
}
.reviews__footer {
      padding-top: 85px;
}
.footer-reviews {
      display: flex;
      column-gap: 100px;
}
@media (max-width: 991.98px) {
      .footer-reviews {
            flex-wrap: wrap;
            row-gap: 30px;
      }
}
.footer-reviews__partners {
      flex: 1 1 auto;
}
.partners-footer-reviews {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      align-items: center;
      justify-content: space-between;
}
.footer-reviews__info {
      flex: 0 0 300px;
      line-height: 1.5;
}
.footer-reviews__info a {
      text-decoration-line: underline;
      color: #2CBDE7;
}
.footer-reviews__info a:hover {
      text-decoration: none;
}
.subscribe  {
      padding-top: 110px;
      padding-bottom: 110px;
}
@media (max-width: 991.98px) {
      .subscribe  {
            padding-top: 70px;
            padding-bottom: 70px;
      }
}
@media (max-width: 767.98px) {
      .subscribe  {
            padding-top: 30px;
            padding-bottom: 30px;
      }
}
.subscribe__header {
      text-align: center;
      margin-bottom: 34px;
}
.subscribe__title {
      font-weight: 700;
      font-size: 44px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #31353B;
}
.subscribe__sub-title {
      font-weight: 700;
      font-size: 22px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #31353B;
}
@media (max-width: 991.98px) {
      .subscribe__title {
            font-size: 30px;
      }
      .subscribe__sub-title {
            font-size: 18px;
      }
}
@media (max-width: 767.98px) {
      .subscribe__title {
            font-size: 24px;
      }
      .subscribe__sub-title {
            font-size: 16px;
      }
}
.subscribe__form {
      max-width: 686px;
      margin: 0 auto;
}
.form-subscribe {
      background: #FFFFFF;
      box-shadow: 0px 158.173px 77.6309px rgba(0, 0, 0, 0.04), 0px 102.519px 45.4644px rgba(0, 0, 0, 0.0303704), 0px 60.9259px 24.7269px rgba(0, 0, 0, 0.0242963), 0px 31.6346px 12.615px rgba(0, 0, 0, 0.02), 0px 12.8882px 6.32548px rgba(0, 0, 0, 0.0157037), 0px 2.92913px 3.05492px rgba(0, 0, 0, 0.00962963);
      display: flex;
      padding: 25px 45px;
}
@media (max-width: 767.98px) {
      .form-subscribe {
            flex-direction: column;
      }
      .form-subscribe__input {
            margin-bottom: 15px;
      }
}
.form-subscribe__content {
      flex: 1 1 auto;
}
.form-subscribe__label {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #31353B;
      opacity: 0.2;
      display: block;
      margin-bottom: 10px;
}
.form-subscribe__input {
      font-weight: 700;
      font-size: 19px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #31353B;
      width: 100%;
}
.form-subscribe__button {
      background: #F85A47;
      box-shadow: 0px 97.0386px 77.6309px rgba(248, 90, 71, 0.07), 0px 62.8954px 45.4644px rgba(248, 90, 71, 0.0531481), 0px 37.3778px 24.7269px rgba(248, 90, 71, 0.0425185), 0px 19.4077px 12.615px rgba(248, 90, 71, 0.035), 0px 7.90685px 6.32548px rgba(248, 90, 71, 0.0274815), 0px 1.79701px 3.05492px rgba(248, 90, 71, 0.0168519);
      transition: all .3s;
      min-height: 72px;
      padding: 20px 40px;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #FFFFFF;
}
.form-subscribe__button:hover {
      opacity: 0.7;
}
.footer__container {
      display: grid;
      grid-template-columns: auto 1fr;
      row-gap: 70px;
      column-gap: 20px;
      padding-top: 58px;
      border-top: 1px solid #DEDFE1;
}
@media (max-width: 767.98px) {
      .footer__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
            row-gap: 30px;
      }
      .menu-footer__list {
            justify-content: center;
      }
}
.footer__logo {
      font-weight: 800;
      font-size: 22px;
      line-height: 30px;
      color: inherit;
}
.footer__menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
}
.menu-footer__list {
      display: flex;
      flex-wrap: wrap;
      column-gap: 45px;
      row-gap: 15px;
}
.menu-footer__link {
      font-weight: 700;
      font-size: 13px;
      line-height: 16px;
      color: inherit;
}
.menu-footer__link:hover {
      text-decoration: underline;
}
.footer__copy {
      grid-column: span 2;
      text-align: center;
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 12px;
      line-height: 15px;
      color: #31353B;
}


/* BURGER ============== */
.header__burger {
      display: none;
}
.header__burger span {
      width: 30px;
      height: 2px;
      background: #31353B;
      display: block;
      transition: all .2s;
}
.header__burger span:nth-child(1) {
      transform: translateY(-10px);
}
.header__burger span:nth-child(3) {
      transform: translateY(10px);
}

@media (max-width: 767.98px) {
      .header__container {
            display: block;
            position: relative;
            padding: 0;
      }
      .header__burger {
            display: block;
            position: absolute;
            top: 40px;
            left: 20px;
            z-index: 2;
            height: 30px;
            width: 30px;
      }
      .header__logo {
            position: absolute;
            top: 30px;
            right: 20px;
      }
      .menu__list {
            padding-top: 40px;
            display: block;
            margin: 0px 0px 0px 0px;
            width: 100%;
            height: 100px;
            background: rgba(189, 204, 255, 0.966);
            transform: translateX(-100%);
            transition: all .2s;
      }
      .menu__item {
            display: block;
            text-align: center;
            padding: 0;
      }
      .menu__item a {
            display: block;
            font-size: 36px;
            font-weight: 300;
            margin: 20px;
            color: #fff;
            letter-spacing: 2px;
            transition: all .3s;
      }
      .header__container.open .menu__list {
            transform: translateX(0px);
            height: 100vh;
      }
      .header__container.open .header__burger span:nth-child(1){
            transform: translateY(2px) rotate(45deg);
            background: #fff;
      }
      .header__container.open .header__burger span:nth-child(2){
            opacity: 0;
      }
      .header__container.open .header__burger span:nth-child(3){
            transform: translateY(-2px) rotate(-45deg);
            background: #fff;
      }
      .menu__item a:after {
            display: none;
      }
      .menu__item a:hover {
            color: #f85947;
            letter-spacing: 6px;
      }
      .menu__item a:active, a:link, a:visited, a:focus {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
}
